*{
    margin: 0;
}
body {
    background-color: #3b3b3b;
}
.navbar { 
    background-color: #801d36; 
    overflow: hidden; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    padding: 1px;
} 
.navbar a { 
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 20px 30px; 
    text-decoration: none; 
    font-size: 25px;
} 
.search-container { 
    float: right; 
    padding: 14px 16px; 
} 
.search-container input[type=text] { 
    padding: 6px; 
    margin-top: 8px; 
    font-size: 17px; 
    border: none; 
} 
.search-container button { 
    padding: 6px 10px; 
    margin-top: 8px; 
    margin-right: 16px; 
    background: #ddd; 
    font-size: 17px; 
    border: none; 
    cursor: pointer; 
} 
.content { 
    padding: 60px
}
#menu {
    background-color: #801d36;
    width: 30%;
    margin: 0; 
    padding: 0;
    float: left;
    padding-top: 70px;
    
}
#menu ul li {
    margin: 10px; 
    padding: 0px;
    border-bottom: 1px solid #801d36;
    text-align: left;
    list-style-type: none;
}
#menu a:link {
    background: #F5F5F5;
    color: #3b3b3b;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}